<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">
 
 
 <!-- section-party -->
 	<menuitem name="party-root" title="Party"/>
 	
 	<!-- party-sub-section-party -->
 	<menuitem  title="Party" parent="party-root" name="party-root-party" action="action.gst.root.party" />
 	<action-view name="action.gst.root.party" title="Party" model="com.axelor.gst.db.Party" >
 		<view type="grid" name="party-grid" />
 		<view type="cards" name="party-cards" />			
 		<view type="form" name="party-form" />
 	</action-view>	
 	
 	<!-- party-sub-section-contact -->
 	<menuitem title="Contact" parent="party-root" name="party-root-contact" action="action.gst.root.contact" />
 	<action-view name="action.gst.root.contact" title="Contact" model="com.axelor.gst.db.Contact" >
 		<view type="grid" name="contact-grid" />
 		<view type="form" name="contat-form" />
 	</action-view>
 	
 	
 	<!--  party-sub-section-configuration -->
 	<menuitem title="Configuration" name="party-root-configuration" parent="party-root" action="" />
 	
 	
 	<!-- party-configuration-address -->
 	<menuitem title="Address" name="party-root-configuration-address" parent="party-root-configuration" action="action.gst.root.configuration.address" />
	<action-view name="action.gst.root.configuration.address" title="Address" model="com.axelor.gst.db.Address" >
		<view type="grid" name="address-grid" />
		<view type="form" name="address-form" />
		
	</action-view> 	
 	
 	<!-- party-configuration-city  -->
 	<menuitem title="City" name="party-root-configuration-city" parent="party-root-configuration" action="action.gst.root.configuration.city" />
 	<action-view name="action.gst.root.configuration.city" title="City" model="com.axelor.gst.db.City" >
 		<view type="grid" name="city-grid" />
 		<view type="form" name="city-form" />
 	</action-view>
 	
   	<!-- party-configuration-state -->
   	<menuitem title="State" name="party-root-configuration-state" parent="party-root-configuration" action="action.gst.root.configuration.state" />
   	<action-view name="action.gst.root.configuration.state" title="State" model="com.axelor.gst.db.State" >
   		<view type="grid" name="state-grid" />
   		<view type="form" name="state-form" />
   		
   	</action-view>
  
  	<!-- party-configuration-country -->
  	<menuitem title="Country" name="party-root-configuration-country" parent="party-root-configuration" action="action.gst.root.configuration.country" />
  	<action-view name="action.gst.root.configuration.country" title="Country" model="com.axelor.gst.db.Country" >
  		<view type="grid" name="country-grid" />
  		<view type="form" name="country-form" />
  	</action-view>
  
  
  
  <!-- section-product  -->
	<menuitem name="product-root" title="Product" />
	
	<!-- product-sub-section-product -->
	<menuitem name="product-root-product" title="Products" parent="product-root" action="action.gst.root.product" />
	<action-view name="action.gst.root.product" title="Products" model="com.axelor.gst.db.Product" >
		<view type="cards" name="product-cards" />
		<view type="grid" name="product-grid" />
		<view type="form" name="product-form" />
	</action-view>
  
  	<!-- product-sub-section-product-categories -->
  	<menuitem name="product-root-product-category" title="Product Categories" parent="product-root" action="action.gst.root.product.category"/>
  	<action-view name="action.gst.root.product.category" title="Products Categories" model="com.axelor.gst.db.ProductCategory" >
  		<view type="grid" name="product-category-grid" />
  		<view type="form" name="product-category-form" />
  		
  	</action-view>
  
  
  <!-- section-Invoice  -->
  	<menuitem name="invoice-root" title="Invoice" />
  	
  	<!-- invoice-sub-section-create-invoice -->
  	<menuitem name="invoice-root-create-invoice" title="Create Invoice" parent="invoice-root" action="action.gst.root.create.invoice" />
  	<action-view name="action.gst.root.create.invoice" title="Create invoice" model="com.axelor.gst.db.Invoice" >
  		<view type="grid" name="invoice-grid" />
  		<view type="form" name="invoice-form" />
  		
  	
  	</action-view>
  	
  	
  	<!-- invoice-sub-section-draft-invoice -->
  	<menuitem name="invoice-root-draft-invoice" title="Draft invoices" parent="invoice-root" action="action.gst.root.draft.invoice" />
  	<action-view name="action.gst.root.draft.invoice" title="Draft Invoice" model="com.axelor.gst.db.Invoice" >
  		<view type="grid" name="invoice-grid" />
  		<view type="form" name="invoice-form" />
  		<view-param name="reload-dotted" value="true"/>
  		<domain>self.status in ('draft')</domain>
  		<context name="statusContext" expr="draft" />
  	<!-- 	<view-param name="search-filters" value="invoice-search-filters" /> -->	
  	</action-view>
  	
  	
  	<!-- invoice-sub-section-validated-invoice -->
  	<menuitem name="invoice-root-validated-invoices" title="Validated invoices" parent="invoice-root" action="action.gst.root.validated.invoices" />
  	<action-view name="action.gst.root.validated.invoices"  title="Validate invoices" model="com.axelor.gst.db.Invoice" >
  		<view type="grid" name="invoice-grid" />
  		<view type="form" name="invoice-form" />
  		<view-param name="reload-dotted" value="true"/> 
  		<domain>self.status in ('validated')</domain>
  		<context name="statusContext" expr="validated" />
  	</action-view>
  	
  	<!-- invoice-sub-section-paid-invoices -->
  	<menuitem name="invoice-root-paid-invoices" title="Paid invoices" parent="invoice-root" action="action.gst.root.paid.invoices" />
  	<action-view name="action.gst.root.paid.invoices" title="Paid invoices"  model="com.axelor.gst.db.Invoice" >
  		<view type="grid" name="invoice-grid" />
  		<view type="form" name="invoice-form" /> 
  		<view-param name="reload-dotted" value="true"/> 
  		<domain>self.status in ('paid')</domain>
  		<context name="statusContext" expr="paid" />
  	</action-view>
  	
  
  	
  	<!-- invoices-sub-section-cancelled-invoices -->
	<menuitem name="invoice-root-cancelled-invoices" title="Cancelled Invoices" parent="invoice-root" action="action.gst.root.cancelled.invoices" />
	<action-view name="action.gst.root.cancelled.invoices" title="Cancelled Invoices" model="com.axelor.gst.db.Invoice" >
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<view-param name="reload-dotted" value="true"/> 
  		<domain>self.status in ('cancelled')</domain>
	 	<context name="statusContext" expr="cancelled" />
	</action-view>
	
	<!-- all invoices -->
	<menuitem name="invoice-root-all-invoices" title="All Invoices" parent="invoice-root" action="action.gst.root.all.invoices" />
	<action-view name="action.gst.root.all.invoices" title="All invoices" model="com.axelor.gst.db.Invoice" >
		<view type="kanban" name="invoice-kanban" />
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
	</action-view>  	
  	
  	
  <!-- section-company -->
  	<menuitem name="company-root" title="Company" />
  	
  	<!-- company-sub-section-company -->
  	<menuitem name="company-root-company" title="Company" parent="company-root" action="action.gst.root.company" />
  	<action-view name="action.gst.root.company" title="Company" model="com.axelor.gst.db.Company" >
  		<view type="grid" name="company-grid" />
  		<view type="form" name="company-form" />
  	</action-view>
  	
  	<!-- company-sub-section-bank-account -->
  	<menuitem name="company-root-bank-account" title="Bank account" parent="company-root" action="action.gst.root.bank.account" />
  	<action-view name="action.gst.root.bank.account" title="Bank Account" model="com.axelor.gst.db.BankAccount" >
  		<view type="grid" name="bank-account-grid" />
  		<view type="form" name="bank-account-form" />
  	</action-view>
  
  
  	<!-- company-sub-section-sequence -->
	<menuitem name="company-root-sequence" title="Sequence" parent="company-root" action="action.gst.root.sequence" />
	<action-view name="action.gst.root.sequence" title="Sequence" model="com.axelor.gst.db.Sequence" >
		<view type="grid" name="sequence-grid" />
		<view type="form" name="sequence-form" /> 
	</action-view>  
  
  	  

</object-views>